@import 'responsive';

$gap: 32px;
$gap-small: 20px;
$series-height: 180px;

/* Basic layouts */

.one {
  > * {
    max-width: 600px;
    margin: 0 auto;
  }
}

.lr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $gap;
}

.rl {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $gap;
}

.lre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 $gap-small;
}

.c3e {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $gap-small;
}

@include large {
  .lr, .rl, .lre {
    > *, > * > .box:first-child {
      margin-top: 0;
    }
  }
}

@include small-medium {
  .lr, .rl, .lre, .c3e {
    display: block;
    > * {
      margin-top: 1em !important;
    }
  }
}

